force-app/main/default/flows/GP_Badge_PermSet_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <description>Automatically assigns or removes the GrandPraetorDashboardAccess permission set when a Grand Praetor badge is activated or deactivated.</description>
    <label>GP Badge Permission Set Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- ═══ START ═══ -->
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Badge_Type__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>a0oVH000000nmYOYAY</stringValue></value>
        </filters>
        <object>OrderApi__Badge__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Get_Contact_User</targetReference>
        </connector>
    </start>

    <!-- ═══ RECORD LOOKUPS ═══ -->
    <recordLookups>
        <name>Get_Contact_User</name>
        <label>Get Contact User</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Get_Permission_Set</name>
        <label>Get Permission Set</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value><stringValue>GrandPraetorDashboardAccess</stringValue></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Check_Existing_Assignment_Add</name>
        <label>Check Existing Assignment Before Add</label>
        <locationX>0</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Assigned_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Get_Existing_Assignment_Remove</name>
        <label>Get Existing Assignment to Remove</label>
        <locationX>352</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Exists_To_Remove</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- ═══ DECISIONS ═══ -->
    <decisions>
        <name>Check_User_Found</name>
        <label>User Found?</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>No User - Stop</defaultConnectorLabel>
        <rules>
            <name>User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Badge_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <decisions>
        <name>Check_Badge_Active</name>
        <label>Badge Active?</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>Badge Inactive - Remove</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Get_Existing_Assignment_Remove</targetReference>
        </defaultConnector>
        <rules>
            <name>Badge_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_Assignment_Add</targetReference>
            </connector>
            <label>Badge Active - Assign</label>
        </rules>
    </decisions>

    <decisions>
        <name>Already_Assigned_Decision</name>
        <label>Already Assigned?</label>
        <locationX>0</locationX>
        <locationY>720</locationY>
        <defaultConnectorLabel>Not Yet Assigned - Add</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Assign_Permission_Set</targetReference>
        </defaultConnector>
        <rules>
            <name>Already_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Existing_Assignment_Add.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <label>Already Assigned - Skip</label>
        </rules>
    </decisions>

    <decisions>
        <name>Assignment_Exists_To_Remove</name>
        <label>Assignment Exists to Remove?</label>
        <locationX>352</locationX>
        <locationY>720</locationY>
        <defaultConnectorLabel>Nothing to Remove</defaultConnectorLabel>
        <rules>
            <name>Assignment_Found_Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Assignment_Remove.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Permission_Set</targetReference>
            </connector>
            <label>Found - Remove It</label>
        </rules>
    </decisions>

    <!-- ═══ RECORD CREATES ═══ -->
    <recordCreates>
        <name>Assign_Permission_Set</name>
        <label>Assign Permission Set</label>
        <locationX>0</locationX>
        <locationY>840</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Get_Contact_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>

    <!-- ═══ RECORD DELETES ═══ -->
    <recordDeletes>
        <name>Remove_Permission_Set</name>
        <label>Remove Permission Set</label>
        <locationX>352</locationX>
        <locationY>840</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Assignment_Remove.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>

</Flow>
