force-app/main/default/flows/GP_Position_PermSet_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Assigns or removes GrandPraetorDashboardAccess when a Grand Praetor Position is activated or deactivated. Uses async Apex to avoid MIXED_DML errors.</description>
    <label>GP Position Permission Set Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OrderApi__Role__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Grand Praetor</stringValue></value>
        </filters>
        <filters>
            <field>OrderApi__Role__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Assistant Grand Praetor</stringValue></value>
        </filters>
        <object>OrderApi__Position__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Get_Contact_User</targetReference>
        </connector>
    </start>

    <recordLookups>
        <name>Get_Contact_User</name>
        <label>Get Contact User</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Get_Permission_Set</name>
        <label>Get Permission Set</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value><stringValue>GrandPraetorDashboardAccess</stringValue></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Check_Other_Active_Positions</name>
        <label>Check Other Active GP Positions</label>
        <locationX>352</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Other_Positions</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>OrderApi__Role__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Grand Praetor</stringValue></value>
        </filters>
        <filters>
            <field>OrderApi__Role__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Assistant Grand Praetor</stringValue></value>
        </filters>
        <filters>
            <field>OrderApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Status__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Active</stringValue></value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <decisions>
        <name>Check_User_Found</name>
        <label>User and Perm Set Found?</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Not Found - Stop</defaultConnectorLabel>
        <rules>
            <name>Both_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Permission_Set.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Position_Active</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>

    <decisions>
        <name>Check_Position_Active</name>
        <label>Position Active?</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>Inactive - Check Other Positions</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Check_Other_Active_Positions</targetReference>
        </defaultConnector>
        <rules>
            <name>Position_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Active</stringValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Async</targetReference>
            </connector>
            <label>Active - Assign</label>
        </rules>
    </decisions>

    <decisions>
        <name>Has_Other_Positions</name>
        <label>Has Other Active GP Positions?</label>
        <locationX>352</locationX>
        <locationY>720</locationY>
        <defaultConnectorLabel>No - Remove Access</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Remove_Async</targetReference>
        </defaultConnector>
        <rules>
            <name>Has_Other_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Other_Active_Positions.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <label>Yes - Keep Access</label>
        </rules>
    </decisions>

    <actionCalls>
        <name>Assign_Async</name>
        <label>Assign Permission Set (Async)</label>
        <locationX>0</locationX>
        <locationY>600</locationY>
        <actionName>PermSetAssignmentQueueable</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>Get_Contact_User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>permSetId</name>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assign</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>

    <actionCalls>
        <name>Remove_Async</name>
        <label>Remove Permission Set (Async)</label>
        <locationX>352</locationX>
        <locationY>840</locationY>
        <actionName>PermSetAssignmentQueueable</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>Get_Contact_User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>permSetId</name>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assign</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>

</Flow>
