force-app/main/default/flows/GP_Position_PermSet_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <description>Assigns or removes GrandPraetorDashboardAccess permission set when a Grand Praetor Position is activated or deactivated.</description>
    <label>GP Position Permission Set Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Role__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Grand Praetor</stringValue></value>
        </filters>
        <object>OrderApi__Position__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Get_Contact_User</targetReference>
        </connector>
    </start>

    <recordLookups>
        <name>Get_Contact_User</name>
        <label>Get Contact User</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Get_Permission_Set</name>
        <label>Get Permission Set</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value><stringValue>GrandPraetorDashboardAccess</stringValue></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Check_Existing_Assignment</name>
        <label>Check Existing Assignment</label>
        <locationX>0</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Assigned_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Get_Assignment_To_Remove</name>
        <label>Get Assignment To Remove</label>
        <locationX>352</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Exists_To_Remove</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Check_Other_Active_Positions</name>
        <label>Check Other Active GP Positions</label>
        <locationX>352</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Other_Positions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Role__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Grand Praetor</stringValue></value>
        </filters>
        <filters>
            <field>OrderApi__Status__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Active</stringValue></value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <decisions>
        <name>Check_User_Found</name>
        <label>User Found?</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>No User - Stop</defaultConnectorLabel>
        <rules>
            <name>User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Position_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <decisions>
        <name>Check_Position_Active</name>
        <label>Position Active?</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>Inactive - Check Other Positions</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Check_Other_Active_Positions</targetReference>
        </defaultConnector>
        <rules>
            <name>Position_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Active</stringValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_Assignment</targetReference>
            </connector>
            <label>Active - Assign</label>
        </rules>
    </decisions>

    <decisions>
        <name>Already_Assigned_Decision</name>
        <label>Already Assigned?</label>
        <locationX>0</locationX>
        <locationY>720</locationY>
        <defaultConnectorLabel>Not Yet - Add</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Assign_Permission_Set</targetReference>
        </defaultConnector>
        <rules>
            <name>Already_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Existing_Assignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <label>Already Assigned - Skip</label>
        </rules>
    </decisions>

    <decisions>
        <name>Has_Other_Positions</name>
        <label>Has Other Active GP Positions?</label>
        <locationX>352</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>No Other Positions - Remove Access</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Get_Assignment_To_Remove</targetReference>
        </defaultConnector>
        <rules>
            <name>Has_Other_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Other_Active_Positions.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <label>Has Other Active - Keep Access</label>
        </rules>
    </decisions>

    <decisions>
        <name>Assignment_Exists_To_Remove</name>
        <label>Assignment Exists?</label>
        <locationX>352</locationX>
        <locationY>720</locationY>
        <defaultConnectorLabel>Nothing to Remove</defaultConnectorLabel>
        <rules>
            <name>Remove_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assignment_To_Remove.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Permission_Set</targetReference>
            </connector>
            <label>Found - Remove</label>
        </rules>
    </decisions>

    <recordCreates>
        <name>Assign_Permission_Set</name>
        <label>Assign Permission Set</label>
        <locationX>0</locationX>
        <locationY>840</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Get_Contact_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>

    <recordDeletes>
        <name>Remove_Permission_Set</name>
        <label>Remove Permission Set</label>
        <locationX>352</locationX>
        <locationY>840</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment_To_Remove.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>

</Flow>
